.header {
    background: $off-white;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $s-size 0;
}

.header__content__image {
    width: 303px;
    height: 47px;
    background: url('/images/CrispCommuteLogoMobile.png');
    background-repeat: no-repeat;

    @media (min-width: $desktop-breakpoint) {
        width: 510px;
        height: 77px;
        background: url('/images/CrispCommuteLogo.png');
        background-repeat: no-repeat;
    }
}
